#task-form {
    margin-top: 50px;
}
.task-buttons {
    margin-top: 20px;
    text-align: center;
}
.task-button {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 85%;
    font-size: 27px;
}

.leaderboard {
    font-size: 28px;
    width: 100%;
    max-width: 600px;
    color: white;
}

.count {
    background-color: rgba(0,255,255, .5);
    padding: 10px 20px 10px 20px;
    margin: 10px;
    border-radius: 50px;
}

.count.normal {
    opacity: .5;
}

.attribute {
    display: inline-block;
}

.topbish {
    animation:blinkingBish 1.5s infinite;
    font-weight: bold;
}
@keyframes blinkingBish {
    0%{color: #f4d742; background-color: white;}
    100%{color: white; background-color: #f4d742;}
}
.cleanopatra {
    color: #4e4f4d;
    background-color: #dfe0db;
    font-weight: bold;
}

.chorlie {
    color: #A57164;
    background-color: #edca84;
    font-weight: bold;
}

.leaderboard-wrapper {
    background-size: cover;
    background-image: url("/static/bubbles.jpg");
    background-attachment: fixed;
    background-position: center;
}

.homepage-wrapper {
    height: 100%;
    background: url(/static/bubbleshome.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.points {
    font-size: 36px;
    font-weight: bold;
}

.message-text {
    max-width: 700px;
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
}

#current-user {
    animation:blinkingUser 3s infinite;
    font-weight: bold;
}
@keyframes blinkingUser {
    0%{background-color: rgba(0,255,255, 1); opacity: 1;}
    50%{background-color: rgba(0,255,255, .5); opacity: .5;}
    100%{background-color: rgba(0,255,255, 1); opacity: 1;}
}

#current-cleanopatra {
    animation:blinkingCleano 3s infinite;
}
@keyframes blinkingCleano {
    0%{background-color: rgba(223,224,219, 1);  opacity: 1;}
    50%{background-color: rgba(223,224,219, .5); opacity: .5;}
    100%{background-color: rgba(223,224,219, 1); opacity: 1;}
}

#current-chorlie {
    animation:blinkingChorlie 3s infinite;
}
@keyframes blinkingChorlie {
    0%{background-color: rgba(237,202,132, 1); opacity: 1;}
    50%{background-color: rgba(237,202,132, .5); opacity: .5;}
    100%{background-color: rgba(237,202,132, 1); opacity: 1;}
}

.title.d-md-none {
    font-size: 14px;
}

.title.d-md-block {
    float: right;
    font-size: 22px;
}

.points {
    min-width: 50px;
}

.header-wrapper {
    background-color: rgb(211,211,211, .4);
    margin-bottom: 30px;
}
h1 {
    font-weight: bold;
    color: white;
}

h1.d-md-none {
    font-size: 40px;
}

h1.d-md-block {
    font-size: 75px;
}


.homepage-header-back {
    background-color: rgb(211,211,211, .4);
    margin-bottom: 30px;
}

.copyright {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    bottom: 0;
    margin-top:80px;
}

.back-button {
    position: fixed;
    top: 15px;
    left: 15px;
    background-color: white;
}

.leaderboard-button {
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: white;
}

.form-control#name {
    font-size: 20px;
    height: 50px;
}

.form-group {
    text-align: center;
}

