{% extends 'base.html' %}
{% block body %}
<div class="leaderboard-wrapper">
<div class="d-flex flex-row justify-content-center">
  <div class="p-3">
    <h1>Leaderboard</h1>
  </div>
</div>
<div class="d-flex flex-row justify-content-center">
    <div class="leaderboard">
        <div class="count topbish">
            <div class="attribute points">{{top_bish.points}}&nbsp;&nbsp;</div>
            <div class="attribute">{{top_bish.name}}</div>
            <div class="attribute">*tOp diSh biSH!*</div>
        </div>
        <div class="count cleanopatra">
            <div class="attribute points">{{cleanopatra.points}}&nbsp;&nbsp;</div>
            <div class="attribute">{{cleanopatra.name}}</div>
            <div class="attribute">*cLeAnOPatrA!*</div>
        </div>
        <div class="count chorlie">
            <div class="attribute points">{{chorlie.points}}&nbsp;&nbsp;</div>
            <div class="attribute">{{chorlie.name}}</div>
            <div class="attribute">*chOrLIE broWn!*</div>
        </div>
        {% for count in counts %}
        <div class="count">
            <div class="attribute points">{{count.points}}&nbsp;&nbsp;</div>
            <div class="attribute">{{count.name}}</div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}